<h5>Mis redes⬇️</h5>
<div class="list-group">
  <a href="https://github.com/" class="list-group-item list-group-item-action">
    <img src="../../../assets/svg/github-svgrepo-com.svg" />GitHub
  </a>
  <a
    href="https://discord.com/login"
    class="list-group-item list-group-item-action"
  >
    <img src="../../../assets/svg/discord-svgrepo-com.svg" />Discord</a
  >
  <a
    href="https://www.instagram.com/"
    class="list-group-item list-group-item-action"
  >
    <img src="../../../assets/svg/instagram-svgrepo-com.svg" />Instagram</a
  >
  <a
    href="https://www.facebook.com/"
    class="list-group-item list-group-item-action"
  >
    <img src="../../../assets/svg/facebook-f-svgrepo-com.svg" />Facebook</a
  >
  <a
    href="https://www.linkedin.com/"
    class="list-group-item list-group-item-action"
  >
    <img src="../../../assets/svg/linkedin-in-svgrepo-com.svg" />LinkedIn</a
  >
</div>
